@media only screen and (min-width: 64em) {
    /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
    article p.town-article img {
        width: 29.333%;
        margin-left: 10px;
    }
    section.forecast {
        display: block;
    }
    .main-container {
        display: block;
        text-align: center;
    }
    main figure {}
    main figure img {
        width: 90%;
        margin: 0;
        padding: 0;
        margin-bottom: 2%;
    }
    main .section1 {
        margin-right: 0;
        padding: 0;
        margin: 0 auto;
        width: 90%;
        margin-bottom: 2%;
    }

}
