@media only screen and (min-width: 64em) {
    /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
    .shrink {
        width: 70%;
        margin: 0 auto;
        margin-bottom: 2%;
    }
    header {
        height: 80px
    }
    footer {
        padding: 1%;
    }
    footer p {
        padding: 1%;
    }
    .sales-span {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .span-image {
        height: 300px;
        width: 450px;
    }
    .left {
        margin-right: 2%;
    }
    .buttonLeft {
        padding: 1%;
    }
    table {
        width: 60%;
    }
    form {
        width: 75%;
        margin: 0 auto;
    }
    .tourDiv {
        width: 65%;
    }
    .flexContainer {
        flex-direction: row;
    }
}
