/* This main css file contains the default rules and is geared toward the small/phone view */

* {
    box-sizing: border-box;
}

/* This wildcard applies to all elements ensuring a box layout model */

body {
    font-size: 16px;
    font-family: 'Dosis', sans-serif;
    margin: auto;
    background-color: whitesmoke;
    background-image: url(/images/bodybackground.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 900px;
    border: 0.1px solid grey;


    /* Declare the base font-family - from google font api or other */
}

header,
nav,
main,
footer {
    /* the comma means apply the following CSS declarations to all of the listed elements */
    /* Declare the maximum width and other main element rules to limit the stretch on wide views */
    max-width: 100%;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 15%;
    width: 100%;
    border: 0.1px solid grey;
    background-color: #8D8741;
}

header img {
    height: 70px;
    width: 70px;
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 15px;
    margin-top: 7px;

}
header h1 {
    position: absolute;
    top: 10px;
    left: 80px;
    font-size: 1.6em;
    font-family: 'Open Sans Condensed', sans-serif;
    text-shadow: 1px 1px black;
    text-align: center;
    color: whitesmoke;
}

.motto {
    font-size: 2em;
    color: #207140;
    font-weight: bolder;
    text-shadow: 2px 1px black;
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 0 auto;
}
.headerImage{
    width: 100%;
    height:100%;
}
.hamburger {
    position: absolute;
    top: 3%;
    right: 3%;
    opacity: 0.8;
    background-color: mintcream;
}
