/* This main css file contains the default rules and is geared toward the small/phone view */

* {
    box-sizing: border-box;
}

/* This wildcard applies to all elements ensuring a box layout model */

body {
    font-size: 16px;
    font-family: 'Dosis', sans-serif;
    margin: auto;
    background-color: whitesmoke;
    background-image: url(/images/bodybackground.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 900px;
    border: 0.1px solid grey;


    /* Declare the base font-family - from google font api or other */
}

header,
nav,
main,
footer {
    /* the comma means apply the following CSS declarations to all of the listed elements */
    /* Declare the maximum width and other main element rules to limit the stretch on wide views */
    max-width: 100%;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image: url(/images/header-background-small.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:contain;
    min-height: 1200px;
}

header img {
    height: 70px;
    width: 70px;
    position:absolute;
    left: 0;
    top: 0;
    margin-left: 15px;
}

.wrapper-header {
    display: flex;
    flex-direction: column;
    width: 100%;
}

header h1 {
    position: absolute;
    top: 20px;
    left: 95px;
    font-size: 1.6em;
    margin: 0 auto;
    font-family: 'Open Sans Condensed', sans-serif;
    text-shadow: 1px 1px black;
    text-align: center;
    color: saddlebrown;
}
.motto{
    position: absolute;
    top: 120px;
    margin: 0 auto;
    font-size: 2em;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
header .subheading {
    color: #4C721D;
    font-size: 1.1em;
    margin: 0 auto;
    font-weight: bolder;
    margin-bottom: 2%;
}


