/* This main css file contains the default rules and is geared toward the small/phone view */

* {
    box-sizing: border-box;
}

/* This wildcard applies to all elements ensuring a box layout model */

body {
    font-size: 16px;
    font-family: 'Dosis', sans-serif;
    background-color: whitesmoke;
    background-image: url(/images/bodybackground.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 900px;


    /* Declare the base font-family - from google font api or other */
}

header,
nav,
main,
footer {
    /* the comma means apply the following CSS declarations to all of the listed elements */
    /* Declare the maximum width and other main element rules to limit the stretch on wide views */
    max-width: 100%;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #000000;
}

.logo {
    height: 30px;
    width: 50px;
    position: absolute;
    top: 15px;
    left: 15px;
}

header h1 {
    font-size: 1.6em;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    color: whitesmoke;
}

.mainImg-container {
    position: relative;
    text-align: center;
}

.motto {
    position: absolute;
    top: 30px;
    left: 12px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
    font-size: 2em;
    font-weight: bolder;
    text-shadow: 1px 1px black;
}

.shopButton {
    position: absolute;
    top: 75px;
    left: 12px;
    background: rgba(0, 0, 0, .2);
    border-color: #fff;
    font-size: 1em;
    padding: 0 20px;
    line-height: 35px;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    opacity: 0.6;
    border: 1px solid white;
}

.shopButton:hover {
    opacity: 1;
}

#mainImage {
    width: 100%;
    border: 0.5px solid white;
}

.div-container {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    margin: 0;
    padding: 0;

}

.div-container div {
    position: relative;
    text-align: center;
    cursor: pointer;
    max-width: 100%
}

.div-container div:hover {
    opacity: 0.95;
}

.div-container div div {
    position: absolute;
    bottom: 5px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
    font-weight: 600;
    border: 1px solid black;
    width: 100%;
    height: 20%;
    background-color: black;
    opacity: 0.5;
}

.div-container div div:hover {
    opacity: 1;
}

.div-container div img {
    width: 100%;
    height: 100%;
    border: 0.5px solid white;
    padding: 0;
    margin-top: -4px;
}

.hamburger {
    position: absolute;
    top: 2%;
    right: 3%;
    opacity: 0.8;
    background-color: mintcream;
    color: white;
    background-color: black;
    border: 0;
    cursor: pointer;
    font-weight: bolder;
    font-size: 1.5em;
}

.navigation {
    list-style: none;
    padding-left: 0;
    width: 95%;
    margin: 0 auto;
}

.navigation li {
    display: none;
}

.navigation li a {}

.navigation.responsive {
    position: absolute;
    top: 63px;
    right: 0;
    width: 75%;
    height: 70%;
}

.navigation.responsive li {
    display: block;
    background-color: black;
    width: 100%;
    padding: 4.8%;
    opacity: 0.5;

}

.navigation.responsive li:hover {
    opacity: 1;
}

.navigation.responsive li a {
    text-align: right;
    text-decoration: none;
    font-size: 1rem;
    color: #eee;
    font-weight: 800;
    display: block;
}

main h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2em;
    text-align: center;
    font-weight: bolder;
}
