@media only screen and (min-width: 37.5em) {
    /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */
    nav button {
        display: none;
    }
    /* hamburger button does not need to be shown */
    .hamburger {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        align-content: stretch;
        width: 100%;
    }

    .navigation li {
        display: block;
        background-color: black;
        margin-top: 0.8%;
        margin: 0 auto;
        flex-grow: 1;

    }
    .navigation li:last-child {
        margin-right: 0;
    }
    .navigation li:first-child {
        margin-left: 0;
    }
    .navigation a {
        display: block;
        color: #eee;
        padding: .9rem;
        text-align: center;
        text-decoration: none;
        font-weight: 800;
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 1em;

    }
    .navigation a:hover {
        background-color: grey;
    }

    /* responsive images */
    .flexContainer {
        display: flex;
    }
    .who-are-we {
        margin: 5% 4%;
    }
    .mainImg-container {
        height: 90%;
        margin: 0 auto;
    }

}
