@media only screen and (min-width: 64em) {
    /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
    article p.town-article img {
        width: 29.333%;
        margin-left: 10px;
    }
    header img {
        float: left;
    }
    nav {
        margin: 0 auto;

    }
    nav ul {
        margin: 0 auto;
        flex-direction: row;
    }
    nav ul li {
        float: left;
        width: 16%;
        margin: 0 auto;
    }

    section.forecast {
        display: block;
    }



}

.size1 {
    flex-grow: 1;
}

.size2 {
    flex-grow: 2;
}
